openapi: 3.1.0
info:
  title: Emerge Analysis Comment API
  description: The Emerge API allows you to access app size data for individual builds, including breakdowns of size by Swift module, framework, and Obj-C prefix.
  version: 0.2.0
  x-apievangelist:
    generated: '2026-07-19'
    method: searched
    source: https://docs.emergetools.com/reference (per-operation OpenAPI 3.1.0 blocks merged)
    note: Assembled from the 12 published /reference/*.md OpenAPI definition blocks on docs.emergetools.com; paths and components captured verbatim.
servers:
- url: https://api.emergetools.com/
security:
- ApiKeyAuth: []
tags:
- name: Comment
paths:
  /comment:
    get:
      summary: PR comment message
      description: "Get PR comment contents for the difference between two builds.\n\n _Note: Formerly `/getComment`, usages of `/getComment` are still supported but will be deprecated in the future._"
      parameters:
      - name: buildId
        in: query
        description: Build id (aka head SHA) of the latest build with your changes. This is the same id passed to the Fastlane upload.
        required: true
        schema:
          type: string
      - name: baseBuildId
        in: query
        description: Build id (aka base SHA) to compare your build with. This is the same id passed to the Fastlane upload.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentData'
      tags:
      - Comment
components:
  schemas:
    CommentData:
      type: object
      properties:
        comment:
          type: string
        buildDetails:
          type: object
          properties:
            baseBuildDetails:
              type: object
              properties:
                appSize:
                  type: integer
                  format: int64
                appDownloadSize:
                  type: integer
                  format: int64
                appInstallSize:
                  type: integer
                  format: int64
                appVersion:
                  type: string
                appBuild:
                  type: string
                url:
                  type: string
                emergeId:
                  type: string
            currentBuildDetails:
              type: object
              properties:
                appSize:
                  type: integer
                  format: int64
                appDownloadSize:
                  type: integer
                  format: int64
                appInstallSize:
                  type: integer
                  format: int64
                appVersion:
                  type: string
                appBuild:
                  type: string
                url:
                  type: string
                emergeId:
                  type: string
        buildComparison:
          type: object
          properties:
            sizeDiff:
              type: integer
              format: int64
            fileDiffs:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  sizeDiff:
                    type: integer
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-API-Token
      in: header
