openapi: 3.1.0
info:
  title: Emerge Analysis BuildDetails API
  description: The Emerge API allows you to access app size data for individual builds, including breakdowns of size by Swift module, framework, and Obj-C prefix.
  version: 0.2.0
  x-apievangelist:
    generated: '2026-07-19'
    method: searched
    source: https://docs.emergetools.com/reference (per-operation OpenAPI 3.1.0 blocks merged)
    note: Assembled from the 12 published /reference/*.md OpenAPI definition blocks on docs.emergetools.com; paths and components captured verbatim.
servers:
- url: https://api.emergetools.com/
security:
- ApiKeyAuth: []
tags:
- name: BuildDetails
paths:
  /buildDetails:
    get:
      parameters:
      - name: appId
        in: query
        description: Bundle id of the app. If buildId (aka emergeId) is not included this will be used to find the most recent upload of an app.
        schema:
          type: string
      - name: buildId
        in: query
        description: Id of the build to retrieve (aka emergeId)
        schema:
          type: string
      - name: platform
        in: query
        description: '''ios'' or ''android''.'
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildDetails'
      tags:
      - BuildDetails
components:
  schemas:
    BuildDetails:
      type: object
      properties:
        appName:
          type: string
        appVersion:
          type: string
        appBuild:
          type: string
        buildId:
          type: string
        tag:
          type: string
        size:
          type: object
          properties:
            installSize:
              type: integer
              format: int64
            downloadSize:
              type: integer
              format: int64
        modules:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              path:
                type: string
              size:
                type: integer
              type:
                type: string
                enum:
                - swiftModule
                - framework
                - objcPrefix
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-API-Token
      in: header
