openapi: 3.1.0
info:
  title: Emerge Analysis Trace API
  description: The Emerge API allows you to access app size data for individual builds, including breakdowns of size by Swift module, framework, and Obj-C prefix.
  version: 0.2.0
  x-apievangelist:
    generated: '2026-07-19'
    method: searched
    source: https://docs.emergetools.com/reference (per-operation OpenAPI 3.1.0 blocks merged)
    note: Assembled from the 12 published /reference/*.md OpenAPI definition blocks on docs.emergetools.com; paths and components captured verbatim.
servers:
- url: https://api.emergetools.com/
security:
- ApiKeyAuth: []
tags:
- name: Trace
paths:
  /trace:
    post:
      summary: Request a signed URL for downloading a trace
      description: Creates a URL for downloading the trace associated with a particular iteration of a performance test span (if available).
      requestBody:
        description: The trace to download.
        required: true
        content:
          '*/*':
            schema:
              type: object
              properties:
                spanId:
                  type: string
                  description: The id of the span, e.g. `span_Ab24Sn1Ao00`.
                iteration:
                  type: number
                  description: The iteration requested, e.g. `42`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TraceDownload'
      tags:
      - Trace
components:
  schemas:
    TraceDownload:
      type: object
      properties:
        url:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-API-Token
      in: header
