{
  "openapi": "3.1.0",
  "info": {
    "title": "Emerge API",
    "description": "The Emerge API allows you to access app size data for individual builds, including breakdowns of size by Swift module, framework, and Obj-C prefix.",
    "version": "0.2.0",
    "x-apievangelist": {
      "generated": "2026-07-19",
      "method": "searched",
      "source": "https://docs.emergetools.com/reference (per-operation OpenAPI 3.1.0 blocks merged)",
      "note": "Assembled from the 12 published /reference/*.md OpenAPI definition blocks on docs.emergetools.com; paths and components captured verbatim."
    }
  },
  "servers": [
    {
      "url": "https://api.emergetools.com/"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/analysis": {
      "get": {
        "summary": "PR analysis data",
        "description": "Returns the app size analysis results and any performance test analysis results, as well as PR comments. This endpoint should be used in favor of `/comment`, as it provides a superset of the data. Further, instead of returning a 4xx response when it's not ready yet (which is what /comment does), it will return a 200 response and indicate within the JSON which jobs are still in progress. Must specify either `sha` or `emergeId`.",
        "parameters": [
          {
            "name": "sha",
            "in": "query",
            "description": "The SHA of the new PR commit",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emergeId",
            "in": "query",
            "description": "The Emerge ID of the HEAD build.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseSha",
            "in": "query",
            "description": "The SHA of the merge base for the PR. If not present, the base SHA provided on upload will be used to determine the base build.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseEmergeId",
            "in": "query",
            "description": "The Emerge ID of the base build. If not present, the base SHA provided on upload will be used to determine the base build.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "'ios' or 'android'. If multiple uploads are found for a sha (usually in the case of a monorepo), analysis for the first upload matching the platform will be returned. If not present and multiple uploads are found, an error will be thrown.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "query",
            "description": "Bundle or package id of the app - like com.example.app. If multiple uploads are found for a sha (usually in the case of a monorepo), analysis for the first upload matching the appId will be returned. If not present and multiple uploads are found, an error will be thrown.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisData"
                }
              }
            }
          },
          "404": {
            "description": "Base or head build not found, or still processing",
            "content": {}
          }
        }
      }
    },
    "/appHistory": {
      "get": {
        "summary": "List (max of 10) of uploaded builds",
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "description": "Bundle id of the app",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset into the list of builds to start at, used for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "buildType",
            "in": "query",
            "description": "Build type filter to only returns builds with the specified build type.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Build"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/buildDetails": {
      "get": {
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "description": "Bundle id of the app. If buildId (aka emergeId) is not included this will be used to find the most recent upload of an app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buildId",
            "in": "query",
            "description": "Id of the build to retrieve (aka emergeId)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "'ios' or 'android'.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildDetails"
                }
              }
            }
          }
        }
      }
    },
    "/comment": {
      "get": {
        "summary": "PR comment message",
        "description": "Get PR comment contents for the difference between two builds.\n\n _Note: Formerly `/getComment`, usages of `/getComment` are still supported but will be deprecated in the future._",
        "parameters": [
          {
            "name": "buildId",
            "in": "query",
            "description": "Build id (aka head SHA) of the latest build with your changes. This is the same id passed to the Fastlane upload.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseBuildId",
            "in": "query",
            "description": "Build id (aka base SHA) to compare your build with. This is the same id passed to the Fastlane upload.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentData"
                }
              }
            }
          }
        }
      }
    },
    "/deadCode/export": {
      "post": {
        "summary": "Export Reaper analysis results",
        "description": "Returns the Reaper analysis results for a given build. You can identify the build using either an uploadId OR a combination of platform, appId, and version.",
        "parameters": [
          {
            "name": "uploadId",
            "in": "query",
            "description": "The Emerge ID of the build to analyze. Required if not using platform+appId+version combination.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "The platform of the app ('ios' or 'android'). Required if not using uploadId.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android"
              ]
            }
          },
          {
            "name": "appId",
            "in": "query",
            "description": "The bundle ID or package name of the app. Required if not using uploadId.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "The version of the app. Required if not using uploadId.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The current page to request data for in the event of pagination. Defaults to 1 if not specified.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReaperExportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getPerfTest": {
      "get": {
        "summary": "Get performance test results",
        "description": "Given a test ID, get the performance test results for it",
        "parameters": [
          {
            "name": "testId",
            "in": "query",
            "description": "The test ID, which is returned for example, as the test_id field from /runPerfTest",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of the test. Note that `performanceTests` will be empty until the status is DONE.",
                      "enum": [
                        "PROCESSING",
                        "DONE"
                      ]
                    },
                    "headId": {
                      "type": "string",
                      "description": "The Emerge Id of the head build"
                    },
                    "baseId": {
                      "type": "string",
                      "description": "The Emerge Id of the base build"
                    },
                    "performanceTests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PerfTestData"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trace": {
      "post": {
        "summary": "Request a signed URL for downloading a trace",
        "description": "Creates a URL for downloading the trace associated with a particular iteration of a performance test span (if available).",
        "requestBody": {
          "description": "The trace to download.",
          "required": true,
          "content": {
            "*/*": {
              "schema": {
                "type": "object",
                "properties": {
                  "spanId": {
                    "type": "string",
                    "description": "The id of the span, e.g. `span_Ab24Sn1Ao00`."
                  },
                  "iteration": {
                    "type": "number",
                    "description": "The iteration requested, e.g. `42`"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TraceDownload"
                }
              }
            }
          }
        }
      }
    },
    "/upload": {
      "post": {
        "summary": "Request a signed URL for upload",
        "description": "Creates a new upload and returns a signed URL to send the upload data.",
        "requestBody": {
          "description": "The upload to create",
          "content": {
            "*/*": {
              "schema": {
                "type": "object",
                "properties": {
                  "prNumber": {
                    "type": "string",
                    "description": "For branch builds only. The PR number associated with this build, e.g. `123`."
                  },
                  "branch": {
                    "type": "string",
                    "description": "For branch builds only. The branch name associated with this build, e.g. `main` or `feature/1234`."
                  },
                  "sha": {
                    "type": "string",
                    "description": "The Git SHA of the commit associated with this build."
                  },
                  "baseSha": {
                    "type": "string",
                    "description": "For branch builds only. The Git SHA of the base commit associated with this build, i.e. the commit you branched off of."
                  },
                  "repoName": {
                    "type": "string",
                    "description": "The name of the repository associated with this build, e.g. `EmergeTools/hackernews`."
                  },
                  "gitlabProjectId": {
                    "type": "string"
                  },
                  "tag": {
                    "type": "string",
                    "description": "A tag label to associate with this build. This is useful for grouping builds together, e.g. `release`, `debug`, or `pull-request`."
                  },
                  "filename": {
                    "type": "string",
                    "deprecated": true,
                    "description": "This field is no longer used."
                  },
                  "buildType": {
                    "type": "string",
                    "default": "release",
                    "deprecated": true,
                    "description": "This field has been renamed to `tag`."
                  },
                  "appIdSuffix": {
                    "type": "string",
                    "description": "A suffix to append to the application ID to differentiate between different builds of the same app, not applicable for Android."
                  },
                  "releaseNotes": {
                    "type": "string",
                    "description": "A markdown string with release notes for the upload"
                  },
                  "orderFileVersion": {
                    "type": "string",
                    "description": "The version number is used as a key to retrieve the order file after it generates. For most apps, the easiest way to choose an order file version is to simply set it to the version of your app."
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUpload"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "upload"
      }
    },
    "/uploadFromLink": {
      "post": {
        "summary": "Upload a build with a download link",
        "description": "Creates an upload object and initiates processing.",
        "requestBody": {
          "description": "The upload to create",
          "content": {
            "*/*": {
              "schema": {
                "type": "object",
                "properties": {
                  "prNumber": {
                    "type": "string",
                    "description": "For branch builds only. The PR number associated with this build, e.g. `123`."
                  },
                  "branch": {
                    "type": "string",
                    "description": "For branch builds only. The branch name associated with this build, e.g. `main` or `feature/1234`."
                  },
                  "sha": {
                    "type": "string",
                    "description": "The Git SHA of the commit associated with this build."
                  },
                  "baseSha": {
                    "type": "string",
                    "description": "For branch builds only. The Git SHA of the base commit associated with this build, i.e. the commit you branched off of."
                  },
                  "repoName": {
                    "type": "string",
                    "description": "The name of the repository associated with this build, e.g. `EmergeTools/hackernews`."
                  },
                  "gitlabProjectId": {
                    "type": "string"
                  },
                  "tag": {
                    "type": "string",
                    "description": "A tag label to associate with this build. This is useful for grouping builds together, e.g. `release`, `debug`, or `pull-request`."
                  },
                  "filename": {
                    "type": "string",
                    "deprecated": true,
                    "description": "This field is no longer used."
                  },
                  "buildType": {
                    "type": "string",
                    "default": "release",
                    "deprecated": true,
                    "description": "This field has been renamed to `tag`."
                  },
                  "appIdSuffix": {
                    "type": "string",
                    "description": "A suffix to append to the application ID to differentiate between different builds of the same app."
                  },
                  "buildLink": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedUpload"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "upload"
      }
    },
    "/v1/snapshots/skip": {
      "post": {
        "operationId": "post_v1_snapshots_skip",
        "summary": "Skip snapshot run",
        "description": "Posts a successful Emerge Snapshots GitHub check for a given commit SHA, allowing the PR to merge without running a snapshot comparison. The check will show as completed with a note that it was skipped by the user. This is especially useful in monorepos where the snapshot status check is required but a given PR doesn't include any snapshot-relevant changes.",
        "requestBody": {
          "description": "The commit to skip the snapshot check for",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sha",
                  "repo_name"
                ],
                "properties": {
                  "sha": {
                    "type": "string",
                    "description": "The Git commit SHA to skip the snapshot check for"
                  },
                  "repo_name": {
                    "type": "string",
                    "description": "The full repository name (e.g., 'EmergeTools/hackernews')"
                  }
                }
              },
              "examples": {
                "basic": {
                  "summary": "Skip snapshot check for a commit",
                  "value": {
                    "sha": "abc123def456",
                    "repo_name": "EmergeTools/hackernews"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success - snapshot check marked as skipped"
          },
          "400": {
            "description": "Bad request - invalid request body or GitHub integration not configured"
          },
          "500": {
            "description": "Internal server error - failed to post GitHub check"
          }
        }
      }
    },
    "/v2/snapshots/diff": {
      "get": {
        "operationId": "get_v2_snapshots_diff",
        "summary": "Get snapshot comparison",
        "description": "Returns snapshot comparison data between two builds (head and base), including added, removed, changed, and unchanged snapshots. Can also return data for a single build if no base is specified.",
        "parameters": [
          {
            "name": "headUploadId",
            "in": "query",
            "description": "The Emerge ID of the head (current) build to compare",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseUploadId",
            "in": "query",
            "description": "The Emerge ID of the base build to compare against. If not provided and head upload has a base_sha, it will be automatically determined.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noDiff",
            "in": "query",
            "description": "Set to 'true' to skip comparison and return only head build snapshots",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (0-indexed)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "tab",
            "in": "query",
            "description": "Filter snapshots by change type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "added",
                "removed",
                "changed",
                "unchanged",
                "errors"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search query to filter snapshots by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - returns snapshot comparison data with status (SUCCESS, PROCESSING, or ERROR)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "SUCCESS",
                        "PROCESSING",
                        "ERROR"
                      ],
                      "description": "The status of the snapshot comparison"
                    },
                    "headUploadMetadata": {
                      "type": "object",
                      "description": "Metadata about the head build"
                    },
                    "baseUploadMetadata": {
                      "type": "object",
                      "description": "Metadata about the base build (null if single-build view)"
                    },
                    "added": {
                      "type": "array",
                      "description": "Snapshots added in head build",
                      "items": {
                        "$ref": "#/components/schemas/Snapshot"
                      }
                    },
                    "removed": {
                      "type": "array",
                      "description": "Snapshots removed in head build",
                      "items": {
                        "$ref": "#/components/schemas/Snapshot"
                      }
                    },
                    "changed": {
                      "type": "array",
                      "description": "Snapshots that changed between builds, including comparison data and diff images",
                      "items": {
                        "$ref": "#/components/schemas/SnapshotComparison"
                      }
                    },
                    "unchanged": {
                      "type": "array",
                      "description": "Snapshots that remained the same",
                      "items": {
                        "$ref": "#/components/schemas/Snapshot"
                      }
                    },
                    "errors": {
                      "type": "array",
                      "description": "Snapshots that failed to capture",
                      "items": {
                        "$ref": "#/components/schemas/Snapshot"
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Message with additional context (present when status is PROCESSING or ERROR)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "404": {
            "description": "Build not found"
          }
        }
      }
    },
    "/v2/snapshots/ignore": {
      "put": {
        "operationId": "put_v2_snapshots_ignore",
        "summary": "Mark snapshot difference as ignored",
        "description": "Marks a specific snapshot difference as ignored or unignored. When a snapshot difference is ignored, it will not trigger alerts or be counted as a change in snapshot comparisons.",
        "requestBody": {
          "description": "The snapshot difference to ignore or unignore",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "headSnapshotId",
                  "baseSnapshotId",
                  "headImageId",
                  "baseImageId",
                  "ignored"
                ],
                "properties": {
                  "headSnapshotId": {
                    "type": "string",
                    "description": "The ID of the head snapshot (prefixed with 'snap_', e.g., 'snap_abc123xyz')"
                  },
                  "baseSnapshotId": {
                    "type": "string",
                    "description": "The ID of the base snapshot (prefixed with 'snap_', e.g., 'snap_def456uvw')"
                  },
                  "headImageId": {
                    "type": "string",
                    "description": "The ID of the image in the head snapshot"
                  },
                  "baseImageId": {
                    "type": "string",
                    "description": "The ID of the image in the base snapshot"
                  },
                  "ignored": {
                    "type": "boolean",
                    "description": "Whether to ignore (true) or unignore (false) this snapshot difference"
                  }
                }
              },
              "examples": {
                "stringIdentifier": {
                  "summary": "Using string identifiers",
                  "value": {
                    "headSnapshotId": "snap_abc123xyz",
                    "baseSnapshotId": "snap_def456uvw",
                    "headImageId": "MyScreenTest.snapshotTest",
                    "baseImageId": "MyScreenTest.snapshotTest",
                    "ignored": true
                  }
                },
                "uuidIdentifier": {
                  "summary": "Using UUID identifiers",
                  "value": {
                    "headSnapshotId": "snap_abc123xyz",
                    "baseSnapshotId": "snap_def456uvw",
                    "headImageId": "550e8400-e29b-41d4-a716-446655440000",
                    "baseImageId": "6ba7b810-9dad-11d1-80b4-00c04fd430c8",
                    "ignored": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success - snapshot difference ignore status updated"
          },
          "400": {
            "description": "Bad request - missing required parameters or snapshots not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "X-API-Token",
        "in": "header"
      }
    },
    "schemas": {
      "AnalysisData": {
        "type": "object",
        "properties": {
          "headId": {
            "type": "string",
            "description": "The Emerge Id of the head build"
          },
          "baseId": {
            "type": "string",
            "description": "The Emerge Id of the base build"
          },
          "appSize": {
            "type": "object",
            "allOf": [
              {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PROCESSING",
                      "ERROR",
                      "DONE"
                    ]
                  }
                }
              },
              {
                "$ref": "#/components/schemas/CommentData"
              }
            ]
          },
          "performanceTests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PerfTestData"
            }
          },
          "performanceTestInfo": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "testId for the performance test"
              },
              "status": {
                "type": "string",
                "description": "Can be 'PROCESSING', 'DONE', or 'ERROR'"
              }
            }
          }
        }
      },
      "Build": {
        "type": "object",
        "properties": {
          "buildId": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "appSize": {
            "type": "integer",
            "format": "int64"
          },
          "appVersion": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "appBuild": {
            "type": "string"
          },
          "buildType": {
            "type": "string"
          }
        }
      },
      "BuildDetails": {
        "type": "object",
        "properties": {
          "appName": {
            "type": "string"
          },
          "appVersion": {
            "type": "string"
          },
          "appBuild": {
            "type": "string"
          },
          "buildId": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "size": {
            "type": "object",
            "properties": {
              "installSize": {
                "type": "integer",
                "format": "int64"
              },
              "downloadSize": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          "modules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "size": {
                  "type": "integer"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "swiftModule",
                    "framework",
                    "objcPrefix"
                  ]
                }
              }
            }
          }
        }
      },
      "CommentData": {
        "type": "object",
        "properties": {
          "comment": {
            "type": "string"
          },
          "buildDetails": {
            "type": "object",
            "properties": {
              "baseBuildDetails": {
                "type": "object",
                "properties": {
                  "appSize": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "appDownloadSize": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "appInstallSize": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "appVersion": {
                    "type": "string"
                  },
                  "appBuild": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  },
                  "emergeId": {
                    "type": "string"
                  }
                }
              },
              "currentBuildDetails": {
                "type": "object",
                "properties": {
                  "appSize": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "appDownloadSize": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "appInstallSize": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "appVersion": {
                    "type": "string"
                  },
                  "appBuild": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  },
                  "emergeId": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "buildComparison": {
            "type": "object",
            "properties": {
              "sizeDiff": {
                "type": "integer",
                "format": "int64"
              },
              "fileDiffs": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "sizeDiff": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CreateUpload": {
        "type": "object",
        "properties": {
          "upload_id": {
            "type": "string"
          },
          "uploadURL": {
            "type": "string"
          }
        }
      },
      "CreatedUpload": {
        "type": "object",
        "properties": {
          "upload_id": {
            "type": "string"
          }
        }
      },
      "PerfTestBuildDetails": {
        "type": "object",
        "properties": {
          "samples": {
            "type": "array",
            "description": "Data on each individual test recorded.",
            "items": {
              "type": "object",
              "properties": {
                "userInfo": {
                  "type": "object",
                  "properties": {},
                  "description": "Custom object passed through span notification that can contain additional debugging data."
                },
                "timeTaken": {
                  "type": "number",
                  "description": "Time in seconds that this metric took. Note that this cannot be used for comparisons across multiple tests since the hardware running the app can change."
                }
              },
              "description": "An individual test"
            }
          }
        }
      },
      "PerfTestData": {
        "required": [
          "className",
          "id",
          "name",
          "status"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the span, unique per class"
          },
          "className": {
            "type": "string",
            "description": "The name of the class that this test is executed from."
          },
          "status": {
            "type": "string",
            "enum": [
              "PROCESSING",
              "ERROR",
              "DONE"
            ]
          },
          "reason": {
            "type": "string",
            "description": "If the status is ERROR this may contain a short description indicating the reason for the error"
          },
          "timeTaken": {
            "type": "number",
            "description": "Time in seconds taken to complete this span. Measured from when the span was requested to when results were available."
          },
          "buildDetails": {
            "type": "object",
            "properties": {
              "baseBuildDetails": {
                "$ref": "#/components/schemas/PerfTestBuildDetails"
              },
              "currentBuildDetails": {
                "$ref": "#/components/schemas/PerfTestBuildDetails"
              }
            }
          },
          "buildComparison": {
            "type": "object",
            "properties": {
              "conclusion": {
                "type": "string",
                "description": "Overal conclusion from testing",
                "enum": [
                  "UNCHANGED",
                  "REGRESSED",
                  "IMPROVED",
                  "INCONCLUSIVE"
                ]
              },
              "comment": {
                "type": "string",
                "description": "A summary of the performance test that could be used for a PR comment"
              },
              "percentChange": {
                "type": "number",
                "description": "Amount of change detected, if the conclusion is not REGRESSED or IMPROVED this field will still represented the difference in our testing but does not have statisitical significance."
              },
              "intervals": {
                "type": "array",
                "description": "Confidence intervals for various p-values.",
                "items": {
                  "type": "object",
                  "properties": {
                    "percentConfidence": {
                      "type": "number",
                      "description": "The probability (as a percentage) that the true difference is within this confidence interval."
                    },
                    "percentInterval": {
                      "type": "number",
                      "description": "The difference from the percentChange that is within this confidence interval. The interval is percentChange +/- percentInterval."
                    }
                  },
                  "description": "A single confidence interval"
                }
              }
            }
          },
          "device": {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "Model of the device that this performance test was executed on."
              },
              "os": {
                "type": "string",
                "description": "Operating system version running on the device this performance test was executed on."
              }
            }
          }
        }
      },
      "Platform": {
        "type": "string",
        "enum": [
          "ios",
          "android"
        ],
        "description": "The platform of the app (iOS or Android)"
      },
      "ReaperExportMetadata": {
        "type": "object",
        "properties": {
          "org_id": {
            "type": "string"
          },
          "generated_at": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "platform": {
            "$ref": "#/components/schemas/Platform"
          },
          "app_id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "required": [
          "org_id",
          "generated_at",
          "enabled"
        ]
      },
      "ReaperExportResponse": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/ReaperExportMetadata"
          },
          "dead_code": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "class_name": {
                  "type": "string"
                },
                "seen": {
                  "type": "boolean"
                },
                "paths": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "counts": {
            "type": "object",
            "properties": {
              "user_sessions": {
                "type": "number"
              },
              "seen_classes": {
                "type": "number"
              },
              "unseen_classes": {
                "type": "number"
              }
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer",
                "description": "The current page number of the paginated results"
              },
              "total_pages": {
                "type": "integer",
                "description": "The total number of pages available"
              }
            }
          }
        }
      },
      "Snapshot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the snapshot (UUID)"
          },
          "identifier": {
            "type": "string",
            "description": "Human-readable identifier for the snapshot"
          },
          "additionalInfo": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            },
            "description": "Additional metadata for the snapshot"
          },
          "height": {
            "type": "integer",
            "description": "Height of the snapshot image in pixels"
          },
          "width": {
            "type": "integer",
            "description": "Width of the snapshot image in pixels"
          },
          "title": {
            "type": "string",
            "description": "Display title for the snapshot"
          },
          "subtitle": {
            "type": "string",
            "description": "Display subtitle for the snapshot"
          },
          "badges": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Array of badge metadata associated with the snapshot"
          },
          "isDarkMode": {
            "type": "boolean",
            "description": "Whether the snapshot was captured in dark mode"
          },
          "s3Prefix": {
            "type": "string",
            "description": "S3 prefix path for the snapshot"
          },
          "timeTaken": {
            "type": "number",
            "description": "Time taken to capture the snapshot in milliseconds"
          },
          "appStoreSnapshot": {
            "type": "boolean",
            "description": "Whether this snapshot is formatted for App Store submission"
          },
          "imageKey": {
            "type": "string",
            "description": "Key identifier for the image"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "Signed S3 URL to access the snapshot image"
          }
        }
      },
      "SnapshotComparison": {
        "type": "object",
        "description": "Comparison between head and base snapshots showing visual differences",
        "properties": {
          "headSnapshot": {
            "$ref": "#/components/schemas/Snapshot",
            "description": "The snapshot from the head build"
          },
          "baseSnapshot": {
            "$ref": "#/components/schemas/Snapshot",
            "description": "The snapshot from the base build"
          },
          "title": {
            "type": "string",
            "description": "Display title for the snapshot comparison"
          },
          "subtitle": {
            "type": "string",
            "description": "Display subtitle for the snapshot comparison"
          },
          "badges": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Array of badge metadata associated with the snapshot"
          },
          "diffImageInfo": {
            "type": "object",
            "properties": {
              "imageUrl": {
                "type": "string",
                "format": "uri",
                "description": "Signed S3 URL to the visual diff image highlighting changes"
              }
            },
            "description": "Information about the diff image showing visual changes"
          },
          "height": {
            "type": "integer",
            "description": "Height of the comparison image in pixels"
          },
          "width": {
            "type": "integer",
            "description": "Width of the comparison image in pixels"
          },
          "ignored": {
            "type": "boolean",
            "description": "Whether this snapshot difference has been marked as ignored"
          },
          "diff": {
            "type": "number",
            "format": "float",
            "description": "Percentage difference between the snapshots (0-1 scale)"
          }
        }
      },
      "TraceDownload": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          }
        }
      }
    }
  }
}